/* general css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}

section {
    height: 100dvh;
    display: flex;
}

h1,
h2,
h3,
h4 {
    font-family: 'Boska', serif;
    text-align: center;
    font-weight: normal;
}


/* section navigation */

.logo {
    position: fixed;
    width: 30px;
    height: auto;
    z-index: 2;
    top: 20px;
    left: 20px;
    padding: 4px;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}


a {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: white;
}

span {
    color: #4C94C3;
}

/* Style the navigation menu */
.menuItem {
    display: block;
    margin: 25px 50px 25px 15px;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: #ffffff solid 1px;
    padding-bottom: 20px;
}

.menuItem:hover {
    text-decoration: none;
    font-style: italic;
    text-transform: capitalize;

}

.hamburger {
    position: fixed;
    z-index: 2;
    top: 20px;
    right: 20px;
    padding: 4px;
    color: white;
    cursor: pointer;
}


.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.4s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1;
    z-index: 1;
    background-color: black;
    list-style: none;
    padding-top: 50px;
}

.showMenu {
    transform: translateY(0);
}

.hamburger .closeIcon {
    display: none;
}


/* section introduction */

.presentation {
    background-image: url('img/fond.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;

}

h1 {
    font-size: 3.2em;
    text-transform: uppercase;
}


/* section about me */

#about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.pp {
    width: 300px;
    height: auto;
}

h2 {
    z-index: 2;
    font-size: 10em;
    letter-spacing: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    width: 500px;
    position: absolute;
    font-size: 3.5em;
    letter-spacing: 7px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.name {
    position: absolute;
    bottom: 40%;

}

.desc {
    margin: 10px 20px;
    font-size: 0.9em;
    line-height: 20px;
}

.right {
    margin-top: 40px;
    text-align: right;
}

/* section skills */

.skill {
    height: 150dvh;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h4 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hard {
    margin-left: 250px;
}

/* line skills */

.vertical-line {
    position: relative;
    height: 1200px;
    width: 1px;
    background-color: white;
    margin: 0 auto;
}

/* general positionning & front */

.dot {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #4C94C3;
    border-radius: 50%;
    left: -5px;
    top: 0%;
}

.st {
    position: absolute;
    text-align: right;
    color: #4C94C3;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

li {
    padding-top: 10px;
}


/* first part */

.dfirst {
    left: -5px;
    top: 0;
}

.pfirst {
    top: 0;
    right: 20px;
}

.labelun {
    position: absolute;
    top: 8%;
    transform: translateY(-50%);
}

/* second part */

.dscnd {
    left: -5px;
    top: 40%;
}

.pscnd {
    text-align: left;
    top: 39%;
    left: 20px;
}

.labeldeux {
    position: absolute;
    top: 38%;
    right: 20px;
    text-align: right;
}


/* last part */


.last {
    left: -5px;
    top: 70%;
}

.stlast {
    position: absolute;
    text-align: right;
    bottom: 28%;
    left: -80px;
    padding-right: 60px;
    color: #4C94C3;
}

.labeltrois {
    position: absolute;
    bottom: 5%;
    transform: translateY(-50%);
}